<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bitwise | User-management</title>
    <link rel="stylesheet" href="/css/admin/dashboard.css">
</head>

<body>
    <div class="dashboard-container">
        <!-- Sidebar -->
        <aside class="unique-sidebar">
            <div class="unique-sidebar-header">
                <h2>Bitwise</h2>
            </div>
            <ul class="unique-sidebar-menu">
                <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                <li><a href="/admin/user-management">Users</a></li>
                <li><a href="/admin/product-management">Products</a></li>
                <li><a href="/admin/orders/manage">Orders</a></li>
                <li><a href="/admin/category-management">Categories</a></li>
                <li><a href="/admin/coupon-management">Coupon</a></li>
                <li><a href="/admin/offer-management">Offers</a></li>
                <li><a href="/admin/inventory">Inventory</a></li>
                <li><a href="/admin/sales-report">Sales</a></li>
                <li><a href="/admin/transactions">Transactions</a></li>

            </ul>
        </aside>
        <!-- Main Content -->
        <div class="product-list-container">
            <h1>Dashboard</h1>

            <!-- Breadcrumbs -->
            <nav class="breadcrumbs">
                <a href="/admin/dashboard">Dashboard</a>
                <span>&gt;</span>
            </nav>

            <div class="product-search-filter">
                <div style="display: flex">
                    sales
                </div>
                <form action="/admin/dashboard/logout" method="post">
                    <button class="logout-btn">Logout</button>
                </form>
            </div>

            
        </div>

        
</body>

</html>