<div class="sidebar-wrapper">
    <button class="sidebar-toggle" aria-label="Toggle Sidebar">
        <span class="hamburger-icon">☰</span>
        <span class="close-icon">×</span>
    </button>
    <aside class="unique-sidebar">
        <div class="unique-sidebar-header">
            <h2>Bitwise</h2>
        </div>
        <ul class="unique-sidebar-menu">
            <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="/admin/user-management">Users</a></li>
            <li><a href="/admin/product-management">Products</a></li>
            <li><a href="/admin/orders/manage">Orders</a></li>
            <li><a href="/admin/category-management">Categories</a></li>
            <li><a href="/admin/coupon-management">Coupon</a></li>
            <li><a href="/admin/offer-management">Offers</a></li>
            <li><a href="/admin/inventory">Inventory</a></li>
            <li><a href="/admin/sales-report">Sales</a></li>
            <li><a href="/admin/transactions">Transactions</a></li>
        </ul>
    </aside>
</div>
